.opisKlinickogCentra,
.opisKC,
.adresaKC,
.listaKlinikaKC {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: 900;
}

.slovaCard {
  font-size: 1em;
  color: #222;
  font-weight: 500;
  /* margin-bottom: 0.25em; */
}

.cardLa {
  width: 210px;
  height: 250px;
}

.slikaKC {
  width: 4.5cm;
  height: 4.5cm;
}

.slikaKCdiv {
  text-align: center;
}

#button {
  background-color: #519e8a;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(124, 117, 117);
  width: 650px;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}
.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}
.successMessage {
  color: green;
  font-size: 20px;
  display: relative;
}

.DodajKlinikuDugme {
  /* padding-left: 8px; */
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 8px;

  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  /* width: 100%; */
  padding: 8px 3px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  
}

.DodajKlinikuDugme:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.DodajKlinikuDugme small {
  color: #999;
  font-weight: 700;
}

.DodajKlinikuDugme small:hover {
  color: #999;
  font-weight: 900;
  cursor: pointer;
}

.nazivNKlinike,
.adresaNKlinike,
.opisNKlinike,
.imeNAK,
.prezimeNAK,
.emailNAK,
.lozinkaNAK,
.klinikaNAK,
.telefonNAK,
.lekNaziv,
.lekSifra,
.dijagnozaNaziv,
.dijagnozaOznaka,
.dijagnozaOpis,
.razlogOdbijanja,
.za,
.formaPolje,
.pretraga {
  width: 100%;
  height: 80%;
  margin-top: 2px;
  margin-bottom: 2px;
}

.formaDugme {
  width: 100%;
  height: 80%;
  margin-top: 6px;
}

.nazivNKlinikeLabela,
.adresaNKlinikeLabela,
.opisNKlinikeLabela,
.prezike,
.imeNAKLabel,
.prezimeNAKLabel,
.emailNAKLabel,
.lozinkaNAKLabel,
.klinikaNAKLabel,
.telefonNAKLabel,
.lekNazivLabel,
.lekSifraLabel,
.dijagnozaNazivLabel,
.dijagnozaOznakaLabel,
.dijagnozaOpisLabel,
.razlogOdbijanjaLabel,
.zaLabel .lekarImeLabel,
.lekarPrezimeLabel,
.lekarTelefonLabel,
.prezimeLekara,
.telefonLekara,
.imeLekara,
.lozinkaLekara,
.emailLekara,
.lekarMailLabel,
.lekarKlinika,
.lekarKlinikaLabel,
.pretraga {
  width: 100%;
  height: 80%;
  margin: 3px;
}

.nazivNKlinikeInput,
.adresaNKlinikeInput,
.opisNKlinikeInput,
.imeNAKInput,
.prezimeNAKInput,
.emailNAKInput,
.lozinkaNAKInput,
.klinikaNAKInput,
.telefonNAKInput,
.lekarImeLabel,
.lekarLozinka,
.lekarLozinkaLabel,
.pretraga {
  width: 100%;
  height: 80%;
  margin: 3px;
}

.TabelaListePacijenata,
.SortListePacijenata {
  width: 100%;
  margin: 3px;
}

.TabelaListePacijenata {
  width: 100%;
  /* margin: 3px; */
}
